body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../Fondo2.jpeg");
    background-size: cover;
}

#miBoton {
    position: fixed;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    background-color: #a8081e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


header {
    background-color: #180B1D;
    color: #e50c29;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
}

.product {
    float: left;
    width: 30%;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    color: #e44d26;
    font-size: 1.1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FDE8E1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}